@charset "UTF-8";

@import "abstracts/variables", "abstracts/mixins", "abstracts/typography";
@import "base/general", "base/fonts", "base/helpers", "base/reset",
  "./base/animations";
@import "./themes/theme";
@import "layout/footer", "layout/header";
@import "components/buttons", "components/icons", "components/sliders.scss";
@import "pages/home";

////////////////////////////
/// main
.container {
  position: relative;
  overflow: clip;
  animation: none;
  height: 100vh;
}

.hero {
  height: calc(100% - 107px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__bg {
  display: flex;
  position: relative;
  width: 100%;
  overflow: clip;
  background: url("/img/it-wire.svg") repeat;
  background-color: var(--bg2);
  background-size: contain;

  @include breakpoint(large-desktop) {
    background-color: var(--text);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0 1rem 0;
  width: 100%;
  overflow: clip;

  @include breakpoint(large-desktop) {
    flex-direction: row;
  }
}

//////////////////
// about
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  background-color: var(--bg2);

  @include breakpoint(large-desktop) {
    flex-direction: row;
  }
}

.about-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0 2px 10px rgba(45, 45, 45, 0.1);
  border-radius: 0;

  @include breakpoint(large-desktop) {
    flex-direction: row-reverse;
    margin: 0;
    border-radius: $default-border-radius;
    overflow: clip;
  }
}

.about-container__text {
  padding: 0 1rem 1rem 1rem;
}

.about-container__box {
  position: relative;
}

.about-container__box--left {
  background-color: var(--text);
  display: flex;

  @include breakpoint(desktop) {
    background-color: var(--white);
    padding: 1rem;
  }
}

.about-container__box--img {
  background-color: transparent;
  transition: ease-in-out 0.3s;

  @include breakpoint(large-desktop) {
    background-color: var(--bg1);
    border-radius: $default-border-radius;
  }
}

.about-container__box--img:hover {
  opacity: 0.85;
}

//////////////////
// skills and tools
.skills-container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  overflow: clip;
  background-color: var(--bg1);
  box-shadow: 0 2px 10px var(--box-shadow-color);

  @include breakpoint(desktop) {
    margin: auto;
  }
  @include breakpoint(large-desktop) {
    width: 100%;
    border-radius: $default-border-radius;
    overflow: clip;
    margin: auto;
  }
}

.skill-icon {
  display: flex;
  background-color: $white;
  color: var(--logo-color);
  flex-direction: column;
  flex: 0 1 calc(50% - 0.5rem);
  padding: 1rem 0.5rem;
  align-items: center;
  font-size: 2rem;
  cursor: not-allowed;

  @include breakpoint(tablet) {
    flex: 1 1 25%;
  }
  @include breakpoint(desktop) {
    flex: 1 1 15%;
  }
  @include breakpoint(large-desktop) {
    font-size: 2.5rem;
  }

  p {
    padding-top: 0.5rem;
    text-transform: capitalize;
    color: var(--logo-color);
    font-size: 1rem;

    @include breakpoint(large-desktop) {
      font-size: 1rem;
    }
  }
}

//////////////////
// projects
.projects {
  position: relative;
  overflow: clip;
  background-color: var(--bg2);
}

.projects__content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.project__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(45, 45, 45, 0.1);

  @include breakpoint(large-desktop) {
    flex-direction: row;
    position: relative;
    border-radius: $default-border-radius;
    overflow: clip;
    flex: 1 1 32%;
    margin-bottom: 0;
  }
}

.container-position {
  position: relative;
  overflow: clip;
}

.project-image {
  position: relative;
  z-index: 19;
  background-color: var(--text);
  cursor: pointer;
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-image:hover {
  opacity: 0.85;
}

.project__item {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  z-index: 11;
  transition: all 0.3s ease-in-out;

  @include breakpoint(large-desktop) {
    display: none;
  }
}

.project__text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.project__text-container--description {
  width: 100%;
  padding-bottom: 1rem;
}

.paragraph-text--project {
  margin: 0;
}

.skill-container {
  padding: 0.5rem;
  background-color: #d0ddf1;
}

.paragraph-strong {
  font-weight: 500;
  color: $default-black-color;
}

.list-icon-container,
.skill-modal-container {
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 0.3rem 0.3rem 0.3rem 0;
  }
}

.skill-container--br {
  border-radius: $default-border-radius;
}

.devicon {
  font-size: 1.5rem;
  color: var(--logo-color);
  margin-right: 0.3rem;
}

// modal
.modal {
  display: none;
  @include breakpoint(large-desktop) {
    display: flex;
  }
}

.modal-container {
  position: absolute;
  z-index: 19;
  background: var(--text);
  inset: 0 0 0 0;
  transform: translateX(-100%);
  transition: ease-in-out 0.3s;
  border-radius: $default-border-radius;
}

.show {
  display: flex;
  transform: translateX(0);
}

.modal-content {
  display: flex;
}

.modal-box {
  flex: 1;
}

.modal-box--image {
  display: flex;
  align-items: center;
}

.modal-box--text {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.modal--close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  color: $default-black-color;
}

/////////////////////
// effects
.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.fade-in.appear {
  opacity: 1;
}
//
.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

////////////////////
// BTT
.back-to-top-container__btn {
  display: none;
  background-color: var(--bg1);
  position: fixed;
  padding: 10px;
  bottom: 25px;
  right: 15px;
  margin: 5px;
  z-index: 20;
  border-radius: $default-border-radius;
  transition: all 0.3s ease-in-out;

  @include breakpoint(large-desktop) {
    right: 25px;
    transform: none;
  }
}

.back-to-top-container__btn:hover {
  background-color: var(--text);
}

.btn-to-top {
  height: 3.5rem;
  width: 3.5rem;

  @include breakpoint(desktop) {
    height: 4rem;
    width: 4rem;
  }
}

.show-fire {
  display: none;
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;

  @include breakpoint(desktop) {
    height: 4rem;
    width: 4rem;
  }
}

.back-to-top.show {
  display: flex;
}

.show-fire.show {
  display: block;
}
