.header {
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: var(--bg1);
  box-shadow: 0 2px 10px var(--box-shadow-color);
}

.header.sticky {
  position: fixed;
  z-index: 20;
  transition: all 300ms;

  .header__content {
    background-color: transparent;
    box-shadow: none;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__logo {
  order: 4;
  height: 40px;
  width: 40px;
  z-index: 10;

  @include breakpoint(desktop) {
    order: 0;
    margin-left: 0;
    height: 50px;
    width: 50px;
  }

  a {
    display: block;
  }
}

// nav desktop
.nav-desktop {
  display: none;
}

@include breakpoint(desktop) {
  .nav-desktop {
    display: flex;
    z-index: 10;
    margin: 0 auto 0 3rem;
  }

  .nav-desktop__list {
    display: flex;
  }

  .nav-desktop__link {
    display: inline-block;
    color: var(--text);
    font-size: 1.1rem;
    margin-left: 1.5rem;
    transition: 0.5ms all ease-in-out;
    font-family: $font-primary;

    &:hover {
      color: var(--logo-color);
    }
  }

  .nav-desktop__link::first-letter {
    text-transform: uppercase;
  }
}

.header__btn {
  position: relative;
  z-index: 10;
  display: inline-block;
  order: 2;

  @include breakpoint(desktop) {
    order: 0;
    margin-right: 5%;
    display: none;
  }
}

// hamburger icon
.nav-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  background-color: transparent;
  text-align: center;

  @include breakpoint(desktop) {
    width: 70px;
    height: 70px;
  }

  // making the dividers
  > span {
    display: inline-block;
    position: relative;
    height: 3px;
    width: 36px;
    background: var(--text);
    vertical-align: middle;

    &:before,
    &:after {
      display: inline-block;
      position: absolute;
      content: "";
      height: 3px;
      background: var(--text);
      transition: all 200ms;
      width: 36px;
    }
    &:before {
      top: -11px;
      left: 0;
    }
    &:after {
      top: 11px;
      right: 0;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover > span:after,
  &:hover > span:before {
    width: 34px;
    left: 0;
  }
}

// beckdrop
.nav-backdrop-container {
  position: fixed;
  background-color: rgb(27 27 28 / 70%);
  transform: translate(100%, -100%);
  transition: all 0.3s ease-in-out;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.nav-backdrop-container.active {
  transform: translate(0, 0);
}

// nav mobile
.nav {
  background-color: $default-black-color;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0 0 0 0;
  z-index: 10;

  @include breakpoint(desktop) {
    width: 50%;
  }
}

ul.nav__list {
  list-style: none;

  li {
    a {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1.7rem;
      padding-bottom: 1rem;
      display: block;
      text-decoration: none;
      text-align: center;
      text-transform: lowercase;
      transition: all 0.3s ease-in-out;

      @include breakpoint(desktop) {
        font-size: 3rem;
      }

      &:link,
      &:visited {
        color: $white;
      }

      &:hover,
      &:active {
        color: var(--logo-color);
      }
    }
    a::first-letter {
      text-transform: uppercase;
    }
  }
}
