.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-scrollbar {
  background: var(--text-color-dark);
}

.swiper-scrollbar-drag {
  background: #1971c2;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  color: var(--logo-color-light--inverse);

  @include breakpoint(large-desktop) {
    display: block;
  }
}
