/////////////////////
/// dark light mode

:root {
  --text-color-light: #241c3b;
  --bg-color-light-1: #c5cad4;
  --bg-color-light-2: #c1c7d3;
  --logo-color-light: #1b0b51;
  --logo-color-light--inverse: #1971c2;
  --box-shadow-color-light: rgba(45, 45, 45, 0.4);
  --box-shadow-bg-light: rgba(208, 221, 241, 0.2);

  --text-color-dark: #d0ddf1;
  --bg-color-dark-1: #22232a;
  --bg-color-dark-2: #25262b;
  --logo-color-dark: #1971c2;
  --logo-color-dark--inverse: #1b0b51;
  --box-shadow-color-dark: rgba(208, 221, 241, 0.3);
  --box-shadow-bg-dark: rgba(45, 45, 45, 0.2);

  --gradient-color: linear-gradient(90deg, #4ca5ff, #6366f1);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg1: var(--bg-color-light-1);
    --bg2: var(--bg-color-light-2);
    --text: var(--text-color-light);
    --logo-color: var(--logo-color-light);
    --logo-color--inverse: var(--logo-color-light--inverse);
    --box-shadow-color: var(--box-shadow-color-light);
    --bg-shadow-color: var(--box-shadow-bg-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: var(--bg-color-dark-1);
    --bg2: var(--bg-color-dark-2);
    --text: var(--text-color-dark);
    --logo-color: var(--logo-color-dark);
    --logo-color--inverse: var(--logo-color-dark--inverse);
    --box-shadow-color: var(--box-shadow-color-dark);
    --bg-shadow-color: var(--box-shadow-bg-dark);
  }
}

[color-scheme="light"] {
  --bg1: var(--bg-color-light-1);
  --bg2: var(--bg-color-light-2);
  --bg-90: var(--bg-color-light-2-opacity-90);
  --text: var(--text-color-light);
  --logo-color: var(--logo-color-light);
  --logo-color--inverse: var(--logo-color-light--inverse);
  --box-shadow-color: var(--box-shadow-color-light);
  --bg-shadow-color: var(--box-shadow-bg-light);
}

[color-scheme="dark"] {
  --bg1: var(--bg-color-dark-1);
  --bg2: var(--bg-color-dark-2);
  --bg-90: var(--bg-color-dark-2-opacity-90);
  --text: var(--text-color-dark);
  --logo-color: var(--logo-color-dark);
  --logo-color--inverse: var(--logo-color-dark--inverse);
  --box-shadow-color: var(--box-shadow-color-dark);
  --bg-shadow-color: var(--box-shadow-bg-dark);
}

.theme {
  background-color: $default-black-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--logo-color);
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 10;
  order: 3;

  @include breakpoint(desktop) {
    order: 0;
    width: 50px;
    height: 50px;
    border: 3px solid var(--logo-color);
  }
}

.theme:is(:hover, :focus) {
  background-color: $default-black-color;
  opacity: 0.8;
}

.bkg2--stroke {
  stroke: #ffd475;
  fill: #ffd475;
}
