/**
 * Basic typography style for copy text
 */
.h1-primary-title {
  font-family: $font-primary;
  font-weight: 400;
  position: relative;
  font-size: 2.4rem;
  line-height: 1.1;
  width: 100%;
  color: var(--text);
  font-style: normal;
  text-align: left;
  z-index: 5;

  @include breakpoint(large-desktop) {
    color: var(--bg1);
    width: inherit;
    font-size: 3.5rem;
    line-height: 1.2;
  }
  @include breakpoint(extra-large-desktop) {
    font-size: 4.5rem;
  }
}

.h1-primary-title--text-bold {
  font-family: $font-secondary;
  font-weight: 800;
  color: var(--logo-color);

  @include breakpoint(large-desktop) {
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 10s ease infinite;
  }
}

.hero--block {
  display: block;
}

.hero-container__text--pl {
  padding: 1rem 0 1rem 1rem;

  @include breakpoint(large-desktop) {
    padding: 0 0 0 1rem;
  }
}

.h2-primary-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: $font-primary;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 1rem 1rem 1rem;
  width: 100%;

  color: var(--text);

  @include breakpoint(large-desktop) {
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0 0 1rem 0;
    font-size: 1.3rem;
  }

  @include breakpoint(extra-large-desktop) {
    font-size: 1.7rem;
  }
}

.h2-primary-title--about {
  position: relative;
  letter-spacing: 0.5px;
}

.h3-primary-title {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 1.3rem;
  width: 100%;
  color: var(--logo-color);

  @include breakpoint(large-desktop) {
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.5rem;
  }

  @include breakpoint(extra-large-desktop) {
    font-size: 1.7rem;
  }
}

.h3-primary-title--footer {
  position: relative;
  font-size: 1.7rem;
  padding: 0 0 0.5rem 1rem;
  color: var(--logo-color);
  margin-bottom: 1rem;

  @include breakpoint(desktop) {
    overflow: hidden;
    font-size: 2.1rem;
    padding: 0 0 0.3rem 0;
    margin-bottom: 1.5rem;
    background: transparent;
    -webkit-text-fill-color: unset;
    -webkit-background-clip: text;
    background-clip: unset;
  }
}

.h3-primary-title--footer::before {
  position: absolute;
  content: "";
  width: 75%;
  height: 3px;
  background-color: var(--logo-color);
  bottom: 0;
  left: 0;
}

// paragraphs
.paragraph-text {
  position: relative;
  z-index: 5;
  text-align: inherit;
  font-size: 0.925rem;
  padding: 1rem 0;

  strong {
    color: $default-black-color;
    font-weight: 500;
  }

  @include breakpoint(large-desktop) {
    font-size: 1.025rem;
  }
}

.paragraph-text--about {
  box-shadow: 1px 1px 1px #d6e2ed;
  box-shadow: none;
}

.paragraph-text--project {
  margin: 0;
}

.paragraph-text--border-bottom {
  border-bottom: 1px solid #d6e2ed;
}
