/**
 * Basic typography style for copy text
 */
.h1-primary-title {
  display: block;
  font-family: $font-primary;
  font-weight: 400;
  position: relative;
  font-size: 1.9rem;
  line-height: 1.1;
  width: 100%;
  color: var(--text);
  font-style: normal;
  z-index: 5;

  @include breakpoint(large-desktop) {
    color: var(--bg1);
    width: inherit;
    font-size: 3.5rem;
    line-height: 1.2;
    text-align: left;
  }
  @include breakpoint(extra-large-desktop) {
    font-size: 4.1rem;
  }
}

.h1-primary-title--text-bold {
  font-family: $font-secondary;
  font-weight: 800;
  color: var(--logo-color);

  // version 2
  text-wrap: balance;
  // mask: url("/img/grunge.png");
  word-break: break-word;

  @include breakpoint(desktop) {
    // version 1
    // background: var(--gradient-color);
    // -webkit-text-fill-color: transparent;
    // -webkit-background-clip: text;
    // background-clip: text;
    // animation: gradient 10s ease infinite;

    // verson 2
    color: var(--logo-color--inverse);
  }
}

.hero--block {
  display: block;
}

.hero-container__text--pl {
  padding: 1rem;

  @include breakpoint(large-desktop) {
    padding: 0 0 0 1rem;
  }
}

.h2-primary-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: $font-primary;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  color: var(--text);
  letter-spacing: 0.5px;

  @include breakpoint(large-desktop) {
    letter-spacing: 2px;
    padding: 0 0 1rem 0;
    font-size: 1.3rem;
  }

  @include breakpoint(extra-large-desktop) {
    font-size: 1.7rem;
  }
}

.h2-primary-title--about {
  position: relative;
}

.h3-primary-title {
  position: relative;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 1.3rem;
  width: 100%;
  color: var(--logo-color);
  padding-bottom: 0.2rem;
  text-align: left;

  @include breakpoint(large-desktop) {
    font-weight: 700;
  }
}

.h3-primary-title::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--logo-color);

  @include breakpoint(desktop) {
    width: 70%;
    transform: none;
    left: 0;
    right: 0;
  }
}

.h3-primary-title--footer {
  position: relative;
  font-size: 1.7rem;
  padding: 0 0 0.5rem 1rem;
  color: var(--logo-color);
  margin-bottom: 1rem;

  @include breakpoint(desktop) {
    overflow: hidden;
    font-size: 2.1rem;
    padding: 0 0 0.3rem 0;
    margin-bottom: 1.5rem;
    background: transparent;
    -webkit-text-fill-color: unset;
    -webkit-background-clip: text;
    background-clip: unset;
  }
}

.h3-primary-title--footer::before {
  position: absolute;
  content: "";
  width: 75%;
  height: 3px;
  background-color: var(--logo-color);
  bottom: 0;
  @include breakpoint(desktop) {
    transform: none;
  }
}

// paragraphs
.paragraph-text {
  position: relative;
  z-index: 5;
  font-size: 0.925rem;
  padding: 1rem 0;
  text-align: left;

  strong {
    text-align: left;
    color: $default-black-color;
    font-weight: 500;
  }

  @include breakpoint(large-desktop) {
    text-align: left;
    font-size: 1.025rem;
  }
}

.paragraph-text--about {
  box-shadow: 1px 1px 1px #d6e2ed;
  box-shadow: none;
}

.paragraph-text--border-bottom {
  border-bottom: 1px solid #d6e2ed;
}
